<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tree [
	<!ELEMENT componentmap ANY>
	<!ELEMENT srccomponent ANY>
	<!ATTLIST srccomponent id ID #REQUIRED>
	<!ELEMENT destcomponent ANY>
	<!ATTLIST destcomponent id ID #REQUIRED>
]>
<componentmap>
	<srccomponent myid="imsrc">
		<first>gamecarousel</first>
		
		
		
	</srccomponent>
	
	<destcomponent myid="dest">
		<first>maincarousel</first>
	
		
	</destcomponent>

	<gamecarousel>

	<first>
		imh2
	</first>
	<second>
		second
	</second>
	<third>
		third
	</third>
		</gamecarousel>
	<maincarousel>
	<first>
		imh
	</first>
	<second>
		fir
	</second>
	<third>
		sec
	</third>
		</maincarousel>
	
</componentmap>
